body
{
    text-align: center;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EDF1D6;
    color: #40514E;
}
.Mountain
{
    width: 100%;
    height: 650px;
    position: relative;
    bottom: 285px;
    margin-bottom: -290px;
}
.Rainbow
{
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 40px;
    margin-bottom: -40px;
}
h1
{
    display: inline-block;
    font-size: 60px;
    color: #9DC08B;
    margin: 50px auto 0 auto;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    line-height: 2;
}
p
{
    line-height: 2;
}
h2
{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    color:#609966;
}
h3
{
    font-size: 20px;
    text-align: center;
    color: #40513B;
}
.top-container
{
    padding-top: 100px;
    background-color: #EDF1D6;
}
.Cloud1
{
    position: absolute;
    top: 70px;
    right: 28%;
}
.Cloud2
{
    position: absolute;
    left: 28%;   
}
.code1
{
    border-radius: 50%;
    width: 25%;
    float: left;
    position: relative;
    top: 30px;
    margin: auto 40px 50px auto;
}
.anime
{
    border-radius: 50%;
    width: 25%;
    float: right;
    position: relative;
    top: 50px;
    margin: auto auto 40px 30px;
}
.music
{
    width: 25%;
    float: left;
    margin: auto 40px 50px auto;
}
.skill-row
{
    width: 50%;
    margin: 80px auto 100px auto;
    text-align: left;
}
.middle-container
{
    margin-top: 50px;
}
.bottom-container
{
    background-color: #609966;
    margin-top: 50px;
    padding: 5px;
}
h4
{
    color: #40513B;
    display: inline-block;
}
.bottom-name
{
    position: relative;
    bottom: 10px;
    color: white;    
}
.footer-link
{
    margin: auto 10px auto 10px;
}
.pfp
{
    width: 15%;
}
hr
{
    border-color:#9DC08B;
    border-style:dotted none none;
    border-width: 5px;
    width: 10%;
}
h4:hover
{
    color: whitesmoke;
}
.btn
{
    background: #609966;
    background-image: -webkit-linear-gradient(top, #609966, #40513B);
    background-image: -moz-linear-gradient(top, #609966, #40513B);
    background-image: -ms-linear-gradient(top, #609966, #40513B);
    background-image: -o-linear-gradient(top, #609966, #40513B);
    background-image: linear-gradient(to bottom, #609966, #40513B);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover 
{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}